
@import '../../style/variables.scss';

.LoginPage {
  display: flex;
  position: absolute;
  background-color: $purple-darker;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  align-items: center;
  justify-content: center;
}
.Login {
  width: 400px;
  transform: translateY(-50px);
  header {
    font-size: 16px;
    color: $white;
    text-align: center;
    position: relative;
    margin-bottom: 42px;
    &:before, &:after {
      content: '';
      display: block;
      height: 1px;
      width: 160px;
      background-color: rgba($white, .5);
      position: absolute;
      top: 12px;
    }
    &:before {
      left: 0;
    }
    &:after {
      right: 0;
    }
  }
}