@import './variables.scss';
a {
  color: $white;
}
.Dashboard {
  background-color: $gray-lighter-3;
  .icon {
    vertical-align: middle;
  }
  display: flex;
  &__sidebar {
    background-color: rgb(45, 52, 84);
    transition: .5s;
    width: 256px;
  }
  &__main {
    width: 100%;
    .Topbar {
      .navbar-nav {
        float: left;
        margin-left: -8px;
      }
    }
  }
}