@import '../../style/variables.scss';

.Dashboard__sidebar {
  a {
    color: $white;
  }
  min-height: 100vh;
  .SideBar__logo {
    color: $white;
    line-height: 50px;
    text-align: center;
  }
  &.collapsed {
    width: 50px;
  }
  .Navigation__item {
    .icon {
      padding-left: 20px;
    }
    .Navigation__link {
      padding: 0;
      &--active {
        position: relative;
      }
    }
    a {
      text-decoration: none;
      display: block;
      &:hover {
        color: $white;
      }
    }
  }
}